<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <div class="container-fluid align-items-center d-flex justify-content-between">
    <a class="navbar-brand" href="/">LND</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle **d-flex align-items-center**" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="fa">
            <img src="https://scontent.fbmv1-1.fna.fbcdn.net/v/t39.30808-1/430875223_2021625691555790_3318503904659049041_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=105&ccb=1-7&_nc_sid=e99d92&_nc_ohc=b44n0_IlRecQ7kNvwGOU59X&_nc_oc=AdmWBVdltjhlVHmCIjAH343ho8_yZKj1HuglEyQS50Z8YCJY6kX6cz33wvxCJ7cHilo&_nc_zt=24&_nc_ht=scontent.fbmv1-1.fna&_nc_gid=dQ0JDiuQsJOCN2GbxSUrRw&oh=00_AfcgHeb8AtWXRhY6TWz_gNjoGwiQ_VNBfQ9ETu5_CGkcEw&oe=68F80E81" alt="" class="user-avatar">
            Ngọc Đức
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/courses/create">Đăng khóa học này</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
            <li><a class="dropdown-item" href="/me/stored/news">Bài đăng của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </div>
</nav>